<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <title>QR Code</title>
</head>

<body>
    <div class="title">
        <h1>QR Code Generator!</h1>
        <p>Insert a link bellow to generate a QR Code</p>
    </div>
    <form action="/" method="POST">
        <input type="text" name="link" placeholder="Insert a link here!" required>
        <button type="submit">Generate QR</button>
    </form>
    {% if data %}
    <div class="generated">
        <img src="{{data}}" alt="QR Code">
        <p>Here is the QR code we generated for you!</p>
    </div>
    {% endif %}
</body>

</html>